body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #434455;
    background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
p {
    margin: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: #2e2f42;
}
img {
    display: block;
}
.container{
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}
.logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}
.page-header {
    border-bottom: 1px solid #e7e9fc;
}
.page-header > .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.header-nav, .nav-list, .contacts-list {
    display: flex;
    align-items: center;
}
.header-logo {
    margin-right: 76px;
}
.nav-list, .contacts-list {
    gap: 40px;
}

.header-logo > .logo-part{
    color: #2e2f42;
}
.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
}
.header-contacts{
    font-style: normal;
}
.contacts-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    display: block;
    padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus{
    color: #404bbf;
}
.section {
    padding: 120px 0;
}
.start-screen {
    background-color: #2e2f42;
    padding: 188px 0;
}
.start-screen > .container {
    text-align: center;
}
.start-screen-title {
    max-width: 496px;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    color: #fff;
    margin: 0 auto 48px auto;
}
.start-screen-button {
    background-color: #4d5ae5;
    color: #fff;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.04em;
    padding: 16px 32px;
    border: none;
    border-radius: 4px;
    display: block;
    margin: 0 auto 0 auto;
    min-width: 169px;
    cursor: pointer;
}
.start-screen-button:hover,
.start-screen-button:focus {
    cursor: pointer;
    background-color: #404bbf;
}
.advantages-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    color: #2e2f42;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.advantages-list {
    display: flex;
    gap: 24px;
}
.advantages-item {
    flex-basis: calc((100% - 72px) / 4);
}
.advantages-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.advantages-item-text {
    letter-spacing: 0.02em;
}
.our-team {
    background-color:  #f4f4fd;
}
.our-team-header {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.our-team-list {
    display: flex;
    gap: 24px;
}
.our-team-item{
    background-color: #fff;
    flex-basis: calc((100% - 72px) / 4);
    border-radius: 0 0 4px 4px;
}
.team-item-info {
    padding: 32px 0;
}
.team-info-header{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
}
.team-info-text {
    letter-spacing: 0.02em;
    text-align: center;
}
.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 72px;
}
.portfolio-list {
    display: flex;
    gap: 48px 24px;
    flex-wrap: wrap;
}
.portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
}
.portfolio-item-info {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}
.portfolio-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}
.portfolio-item-text {
    letter-spacing: 0.02em;
}
.bottom-section {
    background-color: #2e2f42;
    padding: 100px 0;
}
.logo-bottom {
    display: inline-block;
    margin-bottom: 16px;
}
.bottom-section > .container > .logo > .logo-part{
    color: #f4f4fd;
}
.bottom-section-text {
    letter-spacing: 0.02em;
    color: #f4f4fd;
    width: 264px;
}